<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584779022536-24l4foe6rum43ht5v984djguh76isdbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584779022536-24l4foe6rum43ht5v984djguh76isdbu</string>
	<key>API_KEY</key>
	<string>AIzaSyAKpoRmDG0gknnZgBSZnw9VWshTPLKhfK4</string>
	<key>GCM_SENDER_ID</key>
	<string>584779022536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apple-samplecode.Vision-ML-Example</string>
	<key>PROJECT_ID</key>
	<string>machinelearningprojem</string>
	<key>STORAGE_BUCKET</key>
	<string>machinelearningprojem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584779022536:ios:e44e93b2e05944678325fd</string>
	<key>DATABASE_URL</key>
	<string>https://machinelearningprojem-default-rtdb.firebaseio.com</string>
</dict>
</plist>